.sidebar, #sidebar_panel {
    height: 100%; /* 20% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    text-align: left;
    font-size: 25;
    color: white;
}

#footer {
    margin-top: 15px;
    padding-top:10px;
    padding-bottom: 20px
}

#close-btn, #close-btn2 {
    background-color: #FF6961;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    margin-bottom: 40px;
}

#info-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 70%;
  z-index: 1000;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
  opacity: 0.97;
  overflow-x: hidden;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}
